.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section > * + * {
  margin-left: 1em !important;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.header-img {
  height: 2rem;
}

.header .logo-link {
  display: flex;
  align-items: center;
  color: inherit;
}

.header .logo-link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.logo-link p {
  margin-left: 1rem;
}
