.app {
  font-size: 1rem;
}

.main {
  padding: 2rem;
  min-height: calc(100vh - 4rem);
}

.col {
  padding: 2rem;
}

.col-1 {
  flex: 1 0 75%;
}

.col-2 {
  flex: 0 1 25%;
}

.row + .row::before {
  content: "";
  border-top: 1px solid #e6e6e6;
  position: absolute;
  left: 2rem;
  right: 2rem;
}

.header {
  height: 4rem;
  padding: 0 2rem;
  line-height: 4rem;
  background: #1f2937;
}
